<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Mike. He is a software develpoer.</p>
        <img class="potrait" src="/img/profilepic.jpg" alt="">
    </div>
    
    {{>footer}}
</body>
</html>